.box {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  padding: 10px;
}

button,
input {
  margin: 15px;
  padding: 10px;
  font-weight: 500;
}

.chatarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.row {
  display: flex;
}

.videocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px #333 solid;
}


#chatbox {
  width: 50%;
  margin: auto;
  height: 300px;
  margin: 10px;
  overflow: scroll;
}
