<div>
    <h1>You are in room {{ this.hostId}}</h1>
    <div class="vidscreen">
        <app-video-tile *ngFor="let source of sources" [sourceObj]="source"></app-video-tile>
    </div>
    <div class="btnrow">
        <button mat-fab color="primary" (click)="initP2p()"><span class="material-icons">
                present_to_all
            </span></button>
        <button mat-fab color="warn" (click)="endStream()"><span class="material-icons">
                cancel_presentation
            </span></button>
    </div>
</div>